{% extends 'main/header_layout.html' %}
{% load static %}
{% block title %}
Change password
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/user.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>
{% endblock %}