{% extends 'main/header_layout.html' %}
{% load static %}
{% block title %}
Movie Catalog
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/user.css' %}">
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <h2 class="title">Account Information</h2>
        <section id="account-info">
            <div class="photo">
                <a href="#" class="round-btn"><img class="icon" src="{% static 'users/img/user.png' %}" alt=""></a>
            </div>
            <div class="info">
                <p>Ім'я: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <a href="{% url 'change_password' %}" class="nav-link waves-effect">Змінити пароль</a>
            </div>
        </section>

        <section id="movie-list">
            <h2>Favorite Movies</h2>
            <ul>
                {% for movie in favourites.movies.all %}
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="/movie/{{movie.id}}/" title="movie.cover_image">
                                <img class="poster" src="{% static movie.cover_image %}" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="{{movie.title}}">{{movie.title}}</a></div>

                    <p>{{movie.release_date.year}} ‧ {% for genre in movie.genre.all %} {{genre}} ‧{% endfor %}
                        {{movie.runtime}}</p>

                    <p class="rating">Rating: {{movie.rating}}</p>
                </div>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Saved Movies</h2>
            <ul>
                {% for movie in saved.movies.all %}
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="/movie/{{movie.id}}/" title="movie.cover_image">
                                <img class="poster" src="{% static movie.cover_image %}" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="{{movie.title}}">{{movie.title}}</a></div>

                    <p>{{movie.release_date.year}} ‧ {% for genre in movie.genre.all %} {{genre}} ‧{% endfor %}
                        {{movie.runtime}}</p>

                    <p class="rating">Rating: {{movie.rating}}</p>
                </div>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock %}