@import url('https://unpkg.com/css.gg@2.0.0/icons/css/close-r.css');
.movie {
  width: auto;
  height: 435px;
  margin-bottom: 14px;
}

section {
  margin-top: 40px;
}

.movie_info {
  display: flex;
  justify-content: flex-start;
align-items: flex-start;

}

.title {
  margin-bottom: 25px;
  display: flex;
}

.info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

label {
  cursor: pointer;
}

svg {
  width: 26px;
  height: 27px;
  padding: 0.15rem;
}


/* hide radio buttons */

input[name="star"] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

/* hide source svg */

.star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}


/* set initial color to transparent so fill is empty*/

.star {
  color: transparent;
  color: #f0b71c;
  transition: color 0.2s ease-in-out;
}

/* set direction to row-reverse so 5th star is at the end and ~ can be used to fill all sibling stars that precede last starred element*/

.star-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -18px;
  margin-left: 4%;
  color: #f0b71c

}

.add-to-likes {
  margin-right: 27px;
}

.round-btn {
  height: 50px;
  width: 50px;
  background-color: #f1f1f1;;
  border-radius: 50%;
  display: inline-block;
}

.icon{
  margin-left: -1px;
    margin-top: 5px;
    height: 50px;
    width: 52px;
}
.action {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.movie-details h2 {
  margin-top: 0;
}

.movie-details p {
  margin-bottom: 10px;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: bold;
}


.movie-rating h2 {
  margin-top: 0;
}

.movie-rating label {
  display: block;
  margin-bottom: 5px;
}

.text {
  margin-top: 21px;
  width: 794px;
  height: auto;
}

textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

select{
  height: 45px;
}
label {
  font-size: 20px;
  margin-top: 21px;
}
option{
  font-size: 20px;
}

.review h3{
  color:#000;
  text-align: left;
}

.user-reviews{
  margin-top: 38px;
 
}

.actors{
display:flex;
flex-direction: column;
height: 330px;
}

 .gg-close-r {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 22px;
 height: 22px;
 border: 2px solid;
 border-radius: 4px
}

.gg-close-r::after,
.gg-close-r::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 12px;
 height: 2px;
 background: currentColor;
 transform: rotate(45deg);
 border-radius: 5px;
 top: 8px;
 left: 3px
}

.gg-close-r::after {
 transform: rotate(-45deg)
}

.review-header{
display:flex;
justify-content: space-between;
}

.movie-main{
display:flex;
flex-direction:column;
 align-items: center;
  justify-content: center;

}

.card-photo{
    flex: 0 0 auto;
    margin-right: 30px;
    background-color: white;
    border: 0;
    width: 126px;
}

.info h3{
color: black;
    font-size: 20px;
    font-style: oblique;
}

.about p{
font-size:20px;
}