{% extends 'main/header_layout.html' %}
{% load static%}
{% block title %}
MovieDatabase
{% endblock %}
{% block style %}
   {% endblock %}
{% block content %}
 <div id="headerwrap">
        <div class="container">
            <div class="home-content">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>MOVIESbase</h1>
                    <h3>Мільйони фільмів, серіалів і людей. Досліджуйте зараз.</h3>
                </div>
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search for a movie..." />
                            <button class="button-28" role="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="list_movies">
        <div class="container">
            <div class="column_header">
                <h2>Trending</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="scrolling-wrapper-flexbox">
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Avatar">
                                <img class="poster" src="/images/movie-2.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Avatar</a></div>
                    <p>2022 ‧ NF ‧ 3h 12m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Vavilon">
                                <img class="poster" src="/images/movie-3.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Vavilon</a></div>
                    <p>2022 ‧ Drama ‧ 3h 12m </p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Aftersun">
                                <img class="poster" src="/images/movie-1.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Aftersun</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="" title="Avatar">
                                <img class="poster" src="/images/movie-2.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="Aftersun">Avatar</a></div>
                    <p>2022 ‧ Drama ‧ 1h 36m</p>
                    <p class="rating">Rating: 4.5</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}