{% extends 'main/header_layout.html' %}
{% load static%}
{% block title %}
MovieDatabase
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div id="headerwrap">
    <div class="container">
        <div class="home-content">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>MOVIESbase</h1>
                <h3>Millions of movies, series and people. Explore now.</h3>
            </div>
            <form action="/search" method="get">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search for a movie..." name="query"/>
                            <button class="button-28" role="button">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="list_movies">
    <div class="container">
        <div class="column_header">
            <h2>Trending</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="scrolling-wrapper-flexbox">
            {% for movie in movies %}
            <div class="card">
                <div class="image">
                    <div class="wrapper">
                        <a class="image" href="/movie/{{movie.id}}/" title="movie.cover_image">
                            <img class="poster" src="{% static movie.cover_image.url %}" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="name"><a href="" title="{{movie.title}}">{{movie.title}}</a></div>
                <p>{{movie.release_date}} ‧ {{movie.genre.first}} ‧ {{movie.runtime}}</p>

                <p class="rating">Rating: {{ movie.avg_rating }}/5</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}