{% extends 'main/header_layout.html' %}
{% load static %}
{% block title %}
Actor page
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/movie_page.css' %}">
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <section>
            <div class="movie_info">
                <img class="movie" src="{% static actor.image.url %}" alt="actor"/>

                <div class="info">
                    <div class="title">
                        <h2>{{actor}}</h2>
                    </div>
                    <div class="movie-details">
                        <h3>Biography:</h3>
                        <p>{{actor.biography}}</p>
                    </div>
                    <div class="actors">
                        <div>
                            <h3>Known for:</h3>
                        </div>
                        <div class="scrolling-wrapper-flexbox">
                            {% for movie in movies.all %}
                            <div class="card">
                                <div class="image">
                                    <div class="wrapper">
                                        <div>
                                            <a class='cast' href="/movie/{{movie.id}}"> <img class="poster"
                                                                                             src="{% static movie.cover_image.url %}"alt="actor"/> </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/movie/{{movie.id}}" title="{{movie.title}}">{{movie.title}}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}