{% extends 'main/header_layout.html' %}
{% load static %}
{% block title %}
Movie Catalog
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/catalog.css' %}">
{% endblock %}
{% block content %}
<section class="list_movies">
        <div class="container">
            <div class="column_header">
                <h2>Movies</h2>
            </div>

            <div class="filter-sort-container">
                <div class="filter-container">
                  <label for="genre-select">Filter by genre:</label>
                  <select id="genre-select">
                    <option value="all">All genres</option>
                      {% for genre in genres %}
                    <option value="action">{{genre.name}}</option>
                      {% endfor %}
                  </select>
                </div>

                <div class="sort-container">
                  <label for="sort-select">Sort by:</label>
                  <select id="sort-select">
                    <option value="title-asc">Title (A-Z)</option>
                    <option value="title-desc">Title (Z-A)</option>
                    <option value="year-asc">Year (oldest first)</option>
                    <option value="year-desc">Year (newest first)</option>
                  </select>
                </div>
                <div>
                    <span id="rangeValue">Year</span>
                    <input class="range" type="range" name="" value="0" min="1950" max="2025" onChange="rangeSlide(this.value)" onmousemove="rangeSlide(this.value)">
                </div>
                <script type="text/javascript">
                    function rangeSlide(value) {
                        document.getElementById('rangeValue').innerHTML = value;
                    }
                </script>
              </div>

        <div class="container">
        <div class="list">
            {% for movie in movies %}
                <div class="card">
                    <div class="image">
                        <div class="wrapper">
                            <a class="image" href="{{movie.id}}/" title="movie.cover_image">
                                <img class="poster" src="{% static movie.cover_image %}" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="name"><a href="" title="{{movie.title}}">{{movie.title}}</a></div>

                    <p>{{movie.release_date.year}} ‧ {% for genre in movie.genre.all %} {{genre}} ‧{% endfor %} {{movie.runtime}}</p>

                    <p class="rating">Rating: {{movie.rating}}</p>
                </div>
            {% endfor %}
            </div>
        </div>
        </div>
    </section>
{% endblock %}
